html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    font-size: 16px;
    font-family: Helvetica;
}

* {
    box-sizing: border-box;
}

*:active {
    outline:none;
}

#content {
    display:grid;
    grid-template-columns: 300px auto;
    height:100%;
}
#content h1 {
    text-align: center;
}

#nav1
{
    width: 100%;
    height: 50px;
    text-align:center;
    height:100%;
    background-color:#191b17b9;

}
#nav1 img{
    height: 80px;
    width: 80px;
}

#nav1 a {
    line-height:50px;
    text-decoration:none;
    color: black;
    font-size: 20px;
    display: block;
}

#nav1 a:hover {
    background-color: rgba(0,0,0,0.1)
}

main {
    display:inline-block;
    margin:0px;
    height:100%;
}

.page {
    display: none;
    padding-left:20px;
    padding-top:20px;
    margin:0px;
    height: 100%;
}

.page h1 {
    margin:0px;
}

.default {
    display:block;
}

:target {
    display:block;
}

:target ~ .default {
    display:none;
}